
/coursework/.vs
/coursework/.vs
/coursework/.vs/coursework
/coursework/.vs
/coursework/.vs/coursework/DesignTimeBuild
*.v2
*.cache
/coursework/coursework/bin
coursework/coursework/testing.cs
coursework/coursework/secrets.cs
